
/* global.css */
 
@tailwind base;
@tailwind components;
@tailwind utilities;
 
/* width */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #011118;
    border-radius: 999px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #047582;
    border-radius: 999px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}